<div class="container">
  <h1 class="text-center my-5">Reactive Form</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="fullName">Full Name</label>
        <input
          type="text"
          class="form-control"
          id="fullName"
          placeholder="Full Name"
          formControlName="fullName"
          [class.is-invalid]="fullName.invalid && fullName.touched"
        />
        <!-- Error Message Begins -->
        <div *ngIf="fullName.invalid && fullName.touched">
          <span *ngIf="fullName.errors?.required" class="text-danger">
            Full name is required.
          </span>
          <span *ngIf="fullName.errors?.minlength" class="text-danger">
            Minimum Length should be 6 characters.
          </span>
        </div>
        <!-- Error Message Ends -->
      </div>
      <div class="form-group col-md-6">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Email"
          formControlName="email"
          [class.is-invalid]="email.invalid && email.touched"
        />
        <!-- Error Message Begins -->
        <div *ngIf="email.invalid && email.touched">
          <span *ngIf="email.errors?.required" class="text-danger">
            Email is required.
          </span>
          <span *ngIf="email.errors?.pattern" class="text-danger">
            Please provide a valid email address
          </span>
        </div>
        <!-- Error Message Ends -->
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="address">Address</label>
        <input
          type="text"
          class="form-control"
          id="address"
          placeholder="Address"
          formControlName="address"
          [class.is-invalid]="address.invalid && address.touched"
        />
        <!-- Error Message Begins -->
        <div *ngIf="address.invalid && address.touched">
          <span *ngIf="address.errors?.required" class="text-danger">
            Address is required.
          </span>
        </div>
        <!-- Error Message Ends -->
      </div>
      <div class="form-group col-md-6">
        <label for="phone">Phone</label>
        <input
          type="text"
          class="form-control"
          id="phone"
          placeholder="Phone"
          formControlName="phone"
          [class.is-invalid]="phone.invalid && phone.touched"
          appNumberOnly
        />
        <!-- Error Message Begins -->
        <div *ngIf="phone.invalid && phone.touched">
          <span *ngIf="phone.errors?.required" class="text-danger">
            Phone is required.
          </span>
          <span
            *ngIf="phone.errors?.minlength || phone.errors?.pattern"
            class="text-danger"
          >
            Please provide a valid phone number.
          </span>
        </div>
        <!-- Error Message Ends -->
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input
          type="text"
          class="form-control"
          id="inputCity"
          placeholder="City"
          formControlName="city"
          [class.is-invalid]="city.invalid && city.touched"
        />
        <!-- Error Message Begins -->
        <div *ngIf="city.invalid && city.touched">
          <span *ngIf="city.errors?.required" class="text-danger">
            City is required.
          </span>
        </div>
        <!-- Error Message Ends -->
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control" formControlName="state">
          <option value="">Choose your state</option>
          <option *ngFor="let state of states" value="{{ state }}">
            {{ state }}
          </option>
        </select>
        <!-- Error Message Begins -->
        <div *ngIf="state.invalid && state.touched">
          <span *ngIf="state.errors?.required" class="text-danger">
            State is required.
          </span>
        </div>
        <!-- Error Message Ends -->
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Zip</label>
        <input
          type="text"
          class="form-control"
          id="inputZip"
          formControlName="zip"
          [class.is-invalid]="zip.invalid && zip.touched"
          appZipCode
        />
        <!-- Error Message Begins -->
        <div *ngIf="zip.invalid && zip.touched">
          <span *ngIf="zip.errors?.required" class="text-danger">
            Zip is required.
          </span>
        </div>
        <!-- Error Message Ends -->
      </div>
    </div>
    <div class="form-row">
      <div class="form-check col-md-12">
        <label for="inputZip">Favorite Programming Language:</label>&nbsp;
        <div
          class="form-check form-check-inline"
          *ngFor="let language of languageLists"
        >
          <label>
            <input
              class="form-check-input"
              type="checkbox"
              [value]="language.name"
              (change)="onCheckboxChange($event)"
            />
            {{ language.name }}
          </label>
        </div>
      </div>
      <!-- Error Message Begins -->
      <div *ngIf="state.invalid && state.touched">
        <span *ngIf="state.errors?.required" class="text-danger">
          State is required.
        </span>
      </div>
      <!-- Error Message Ends -->
    </div>
    <hr />
    <div class="form-row">
      <div class="form-check col-md-12">
        <label for="inputZip">Gender:</label>&nbsp;
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="gender"
            id="male"
            value="Male"
            formControlName="gender"
          />
          <label class="form-check-label" for="male">Male</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="gender"
            id="female"
            value="Female"
            formControlName="gender"
          />
          <label class="form-check-label" for="female">Female</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="gender"
            id="other"
            value="Other"
            formControlName="gender"
          />
          <label class="form-check-label" for="other">Other</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="gender"
            id="null"
            value=""
            formControlName="gender"
          />
          <label class="form-check-label" for="null">Null</label>
        </div>
        <!-- Error Message Begins -->
        <div *ngIf="gender.invalid && gender.touched">
          <span *ngIf="gender.errors?.required" class="text-danger">
            Gender is required.
          </span>
        </div>
        <!-- Error Message Ends -->
      </div>
    </div>
    <hr />
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="range">
          Rate your love for programming from 1 to 5 is:
          <span *ngIf="form.value.rating == ''; else elseBlock">0</span>
          <ng-template #elseBlock>{{ form.value.rating }}</ng-template>
        </label>
        <input
          type="range"
          class="custom-range"
          min="1"
          max="5"
          id="range"
          formControlName="rating"
        />
      </div>
    </div>
    <hr />
    <div class="form-row mt-4">
      <div class="form-group col-md-12">
        <div class="custom-file">
          <input
            type="file"
            class="custom-file-input"
            id="customFile"
            formControlName="selectfile"
          />
          <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
      </div>
    </div>
    <hr />
    <h1 class="text-center">For Item</h1>
    <div class="form-row">
      <div class="form-group col-md-12" formArrayName="itemRows">
        <div>
          <button
            type="button"
            class="btn btn-default btn-primary float-right mb-3"
            (click)="addNewRow()"
            [disabled]="this.form.get('itemRows').invalid"
          >
            Add Item
          </button>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let itemRow of form.controls.itemRows['controls']; let i = index" [formGroupName]="i">
              <td>
                <input type="text" id="item-name-{{i}}" class="form-control" formControlName="itemName" />
                <!-- Error Message Begins -->
                <div *ngIf="itemRow.controls['itemName'].invalid && itemRow.controls['itemName'].touched">
                  <span *ngIf="itemRow.controls['itemName'].errors?.required" class="text-danger">
                    Name is required.
                  </span>
                </div>
                <!-- Error Message Ends -->
              </td>
              <td>
                <input type="text" id="item-description-{{i}}" class="form-control" formControlName="itemDescription" />
                <!-- Error Message Begins -->
                <div *ngIf="itemRow.controls['itemDescription'].invalid && itemRow.controls['itemDescription'].touched">
                  <span *ngIf="itemRow.controls['itemDescription'].errors?.required" class="text-danger">
                    Name is required.
                  </span>
                </div>
                <!-- Error Message Ends -->
              </td>
              <td>
                <input type="number" id="item-price-{{i}}" class="form-control" formControlName="itemPrice" />
                <!-- Error Message Begins -->
                <div *ngIf="itemRow.controls['itemPrice'].invalid && itemRow.controls['itemPrice'].touched">
                  <span *ngIf="itemRow.controls['itemPrice'].errors?.required" class="text-danger">
                    Price is required.
                  </span>
                </div>
                <!-- Error Message Ends -->
              </td>
              <td>
                <input type="number" id="item-quantity-{{i}}" class="form-control" formControlName="itemQuantity" />
                <!-- Error Message Begins -->
                <div *ngIf="itemRow.controls['itemQuantity'].invalid && itemRow.controls['itemQuantity'].touched">
                  <span *ngIf="itemRow.controls['itemQuantity'].errors?.required" class="text-danger">
                    Quantity is required.
                  </span>
                </div>
                <!-- Error Message Ends -->
              </td>
              <td>
                <button type="button" class="btn btn-danger" (click)="deleteRow(i)">
                  DELETE ROW
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="form-group clearfix">
      <button type="submit" class="btn btn-primary float-md-right" [disabled]="form.invalid">
        Submit &raquo;
      </button>
    </div>
  </form>
  <div class="json-data">
    <pre class="text-white">{{ form.value | json }}</pre>
  </div>
</div>
